<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311374529077-2a0cgghs08almfa746giagnms6q0pfmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311374529077-2a0cgghs08almfa746giagnms6q0pfmg</string>
	<key>API_KEY</key>
	<string>AIzaSyBiVT_yLkv5U49iJXOZu5CV5_VdCE2YlMM</string>
	<key>GCM_SENDER_ID</key>
	<string>311374529077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-d5169</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-d5169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311374529077:ios:9682cefd235f3a05d0e77c</string>
</dict>
</plist>